<footer class="bg-dark text-white pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>We are a company that specializes in providing the best services for our customers.</p>
      </div>
      <div class="col-md-4">
        <h5>Сылки</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'index' %}" class="text-white">Главная</a></li>
          <li><a href="{% url 'page2' %}" class="text-white">Вторая</a></li>
          <li><a href="{% url 'page3' %}" class="text-white">Третья</a></li>
          <li><a href="{% url 'page4' %}" class="text-white">Четвертая</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <address>
          123 Main St,<br>
          Anytown, USA<br>
          <a href="tel:+1234567890" class="text-white">+1 234 567 890</a><br>
          <a href="mailto:info@example.com" class="text-white">info@example.com</a>
        </address>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-center">
        <p>&copy; 2024 Company Name. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>